<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mail Results</title>
</head>
<body>
    <h1>Your mail info:</h1>

    <p>Postal type: <%= postalType %></p>
    <p>Postal weight: <%= weight %> (oz.)</p>
    <p>Cost of mail : $<%= cost %></p>

</body>
</html>